<div class="md-block" layout="row" flex>
    <md-input-container md-no-float class="md-block" flex="75">
        <input class="search" type="text" placeholder="Search...">
    </md-input-container>
    <md-input-container md-no-float class="md-block" flex="25">
        <label style="color: white;">Category</label>
        <md-select ng-model="vm.response.categoties" style="font-size: 17px; border: none;">
            <md-option>None</md-option>
        </md-select>
    </md-input-container>
</div>